<div class="container">
  <div class="jumbotron">
    <h1 class="largeHeader">Enter OTP</h1>
    <div class="col_1">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :verification_code %><br />
          <%= f.text_field :verification_code, autofocus: true %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>