<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Proceed for verifying, <%= @user.name %>!</h2>
    <p>Your OTP for verification is <%= @user.verification_code %> </p>

  </body>
</html>